@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
body, .inside {
	margin: 0;
	position: relative;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}
a {
	color: white;
	text-decoration: none;
  min-height: 1.5em;
}
a:hover, a:focus {
	color: #3397db;
	font-weight: bold;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
.flex-header, .inside header {
  line-height: 3em;
  background-color: #252831;
}
#footer {
  background-color: #252831;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    height: 7vh;
}
/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #362f9c;
		min-height: 48px;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
	background-color: #ccc;
	position: relative;
	width: 100%;
  height: 40vh;
}

	/* ====================== Restaurant Filtering ====================== */

	.filter-options h2 {
	  color: white;
	  font-weight: normal;
	}

	.filter-options select {
	  background-color: white;
	  font-family: Arial,sans-serif;
		font-size: 16px;
		min-height: 48px;
	  letter-spacing: 0;
	}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;

}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h2 {
  color: #362f9c;
  font-family: Arial,sans-serif;
	font-size: 18px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
	margin: 20px 10px 10px;
  text-transform: uppercase;
  height: 46px;
  padding-bottom: 10px;
}
#restaurants-list p {
  margin: 10px;
	font-size: 16px;
}

#restaurants-list li button {
  background-color: #362f9c;
}

#restaurants-list li button a {
  background-color: #362f9c;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 13px 35px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Default button style when not toggled */
button.fav {
  padding: 2.5px 0px 2.5px 0px;
  background-color: #362f9c;
  font-size: 20px;
  color: #fff;
}
/* Button style when button is toggled */
button.fav[aria-pressed=true] {
  color: red;
}
/* Accessible and easy to spot styles for our buttons when hovered and focused */
button.fav:hover,
button.fav:focus {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */

.inside #map-container {
  background: blue none repeat scroll 0 0;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
  height: 30vh;
  position: relative;
}

.inside-rest, .inside-reviews {
  width: 100%;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.inside #footer {
  bottom: 0;
	position: relative;
}
#restaurant-name {
  color: #362f9c;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
	text-align: center;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 20px;
}
#restaurant-address {
  font-size: 16pt;
	margin-top: 8px;
	margin-left: 10%;
	margin-right: 5%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 0px 20px;
  width: 100%;
  align-items: center;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #362f9c;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
	text-align: center;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p:nth-child(-n+3) {
	font-weight: bold;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  margin-left: 10%;
	margin-right: 5%;
}
#restaurant-hours td {
  color: #666;
}
#restaurant-hours td:nth-child(odd) {
  font-weight: bold;
  width: 30%;
}
.flex-footer {
  width: 100%;
}

@media screen and (max-width: 299px) {
  #restaurants-list li h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 499px) {
  /* display days of week and hours on alternating or double lines */
  #restaurant-hours td {
    display: inline-block;
  }
}

@media screen and (max-width: 399px) {
  #map {
    height: 60vh;
  }
	.filter-options {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		background-color: #252831;
		padding-bottom: 5%;
		text-align: center;
		flex-direction: column;
		align-items: center;
	}
  .flex-neighborhoods {
		padding-bottom: 7.5%;
	}
	.flex-restaurants {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	}

	/* ====================== Restaurant Filtering ====================== */

	.filter-options h2 {
		margin-bottom: 10px;
	}
	.filter-options select {
		width: 60vw;
	}
	#restaurants-list li {
		margin: 15px;
		min-height: 25%;
	  padding: 0 5 25px;
	  text-align: center;
	  max-width: 90%;
		padding-bottom: 5%;
	}
	#restaurant-container, #reviews-container {
	  padding: 40px 0px 20px;
	  width: 100%;
		align-items: center;
	}
}

@media screen and (min-width: 400px) and (max-width: 449px) {
  nav h1 a {
    font-size: 18pt;
  }
  #map {
    height: 55vh;
  }
	.filter-options {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		line-height: 1.5;
		background-color: #252831;
		padding-bottom: 5%;
		text-align: center;
	}
	.flex-h2 {
		width: 100%;
	}
  .flex-neighborhoods {
		width: 50%;
    padding-left: 5vw;
    padding-right: 5vw;
	}
	.flex-cuisines {
		width: 50%;
    padding-left: 5vw;
    padding-right: 5vw;
	}
	.flex-restaurants {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	/* ====================== Restaurant Filtering ====================== */

	.filter-options h2 {
		width: 100%;
		margin-bottom: 3px;
	}
	.filter-options select {
		width: 40vw;
	}
	#restaurants-list {
	  list-style: outside none none;
	  margin: 0;
	  text-align: center;
	}
	#restaurants-list li {
		margin: 15px;
	  padding: 0 5 25px;
	  text-align: center;
	  max-width: 90%;
		padding-bottom: 5%;
	}
}

@media screen and (min-width: 450px) and (max-width: 799px) {
  nav h1 a {
    font-size: 20pt;
  }
	.filter-options {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		line-height: 1.5;
		background-color: #252831;
		padding-bottom: 2.5%;
    text-align: left;
	}
  .flex-neighborhoods {
		width: 40%;
    padding-left: 5%;
	}
	.flex-cuisines {
		width: 40%;
    padding-left: 5%;
	}
  .flex-h2 {
	   width: 100%;
     margin-bottom: 0%;
	}
  .filter-options h2 {
		margin-bottom: 0px;
    padding-left: 5%;
    padding-right: 60%;
	}
	.filter-options select {
		width: 160px;
	}
  .flex-restaurants {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
  #restaurants-list {
    padding: 30px 0px 60px;
  }
  #restaurants-list li {
		margin: 15px;
	  padding: 0 5 25px;
	  text-align: center;
	  width: 40%;
    height: 30%;
		padding-bottom: 5%;
	}
  #restaurants-list li h1, #restaurants-list p:nth-of-type(2) {
    height: 46px;
  }
}

@media screen and (min-width: 800px) {
  nav h1 a {
    font-size: 20pt;
  }
	.filter-options {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		line-height: 1.5;
		background-color: #252831;
		padding-bottom: 1%;
    text-align: left;
	}
  .flex-neighborhoods {
		width: 30%;
    padding-left: 10%;
	}
	.flex-cuisines {
		width: 30%;
    padding-left: 5%;
	}
  .flex-h2 {
	   width: 100%;
     margin-bottom: 0%;
	}
  .filter-options h2 {
    padding-left: 10%;
    padding-right: 5%;
    margin-bottom: 0%;
	}
	.filter-options select {
		width: 180px;
	}
  .flex-restaurants {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
  #restaurants-list {
    padding: 30px 0px 60px;
  }
  #restaurants-list li {
		margin: 15px;
	  padding: 0 5 25px;
	  text-align: center;
    width: 25%;
    height: 30%;
		padding-bottom: 5%;
	}
  #restaurants-list li h1, #restaurants-list p:nth-of-type(2) {
    height: 46px;
  }

}
